body{
    margin: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

#introtext{
    color: rgb(255, 0, 179);
}

#mainContainer{
float: left;
margin: 0px 0px 0px 300px;
}

#clickHere{
color: white;

}

.highlight{
    color: blueviolet;
    font-weight: bold;
}
#hobbies{
    color: rgb(255, 255, 255);
}
#name{
    color: rgb(161, 78, 0);
}

#introContainer{
    width: 470px;
    float: right;
    margin: 0px 800px 0px 0px;
}
#introPicture{
    float: top left;
    margin: 0px 0px 0px 0px;
    border-radius: 250px;
}

.reset{
    clear: both;
}

#hobbyContainer{
    width: 410px;
    float: left;
    margin: 50px 0px 0px 0px;
}
#meme{
   
}
#socials{
   width: 416px;
    margin: 0px 0px 0px 0px;
    background-color: white;
    padding: 10px;
}

#hobbyPicture{
    float:  left;
    margin: 0px 0px 0px 100px;
    padding: 0px 0px 0px 0px;
}



#clickHere{
    width: 75px;
    height: 20px;
    background-color: white;
    color: black;
}