body{
    margin: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

#introtext{
    color: rgb(255, 0, 179);
}

.highlight{
    color: blueviolet;
    font-weight: bold;
}
#hobbies{
    color: rgb(255, 255, 255);
}
#name{
    color: rgb(161, 78, 0);
}

#introContainer{
    width: 470px;
    float: right;
    margin: 0px 800px 0px 0px;
}
#introPicture{
    float: top left;
    margin: 0px 0px 0px 0px;
}

.reset{
    clear: both;
}

#hobbyContainer{
    width: 410px;
    float: left;
    margin: 50px 0px 0px 350px;
}

#socials{
    float: left;
    margin: 1px 0px 0px 0px;
   
}

#hobbyPicture{
    float:  middle;
    margin: 0px 0px 0px 0px;
}

#meme{
   float: right;
   margin: -331px 0px 0px 0px;
}